/* min-h-screen */
.min-h-screen {
  min-height: 100vh;
}

/* flex */
.flex {
  display: flex;
}

/* flex-wrap */
.flex-wrap {
  flex-wrap: wrap;
}

/* justify-center */
.justify-center {
  justify-content: center;
}
