@import "tailwindcss";

h1 {
  @apply text-3xl md:text-5xl font-bold;
}

h2 {
  @apply text-2xl md:text-4xl font-semibold;
}

h3 {
  @apply text-xl md:text-2xl font-medium;
}

h4 {
  @apply text-lg font-normal;
}

h5 {
  @apply text-base font-light;
}

h6 {
  @apply text-sm font-thin;
}

body {
  background-color: #ffeeb3;
}
